@font-face {
  font-family: 'GothamRnd-Bold';
  src:  url('/font/GothamRnd-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Boldltal';
  src:  url('/font/GothamRnd-Boldltal.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Book';
  src:  url('/font/GothamRnd-Book.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Bookltal';
  src:  url('/font/GothamRnd-Bookltal.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Light';
  src:  url('/font/GothamRnd-Light.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Lightltal';
  src:  url('/font/GothamRnd-Lightltal.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Medltal';
  src:  url('/font/GothamRnd-Medltal.otf') format('opentype');
}
@font-face {
  font-family: 'GothamRnd-Medium';
  src:  url('/font/GothamRnd-Medium.otf') format('opentype');
}
